FEISHU_APP_ID=cli_your_app_id
FEISHU_APP_SECRET=your_app_secret
FEISHU_LOG_LEVEL=INFO
FEISHU_DEFAULT_REPLY=Received your message. Send help to view supported commands.
FEISHU_GROUP_REPLY_REQUIRES_MENTION=true
FEISHU_ALLOWED_CHAT_IDS=
COZE_API_BASE_URL=https://api.coze.cn
COZE_BOT_ID=bot_your_coze_bot_id
COZE_ACCESS_TOKEN=
COZE_TIMEOUT_SECONDS=120
